.fuji {
   position: relative;
}

.fuji__body {
   display: flex;
   flex-direction: column;
   justify-content: end;

   @media(min-width:$mobile) {
      min-height: rem(600);
   }

   .fuji__wrapper {
      @media(max-width:$mobile) {
         padding-top: 77%;
      }

      .fuji__header {
         margin-right: rem(19);

         .fuji__text {
            max-width: rem(298);
         }
      }
   }
}

.fuji__image {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}