.himalayas {
   position: relative;
}

.himalayas__body {
   display: flex;
   flex-direction: column;
   justify-content: end;

   @media(min-width:$mobile) {
      min-height: rem(600);
   }

   .himalayas__wrapper {
      @media(max-width:$mobile) {
         padding-top: 66%;
      }

      .himalayas__header {
         margin-right: rem(76);

         .himalayas__text {
            max-width: rem(241);
         }
      }
   }
}

.himalayas__image {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}